body {
	  background-color: lightgrey;
	  color: #333;
}
.container {
	  background-color: #eee;	
	  max-width: 768px;
	  min-height: 1000px;
	  margin: 0 auto;    
}

.inner {
	  padding: 20px;
}

h1, p {
	  text-align: center;
}

.sport {

	  padding: 4em;
	  font-size: 1.6em;
	  font-weight: bold;
	  background-image:  url("/img/bg.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
	  color: white;
}

.something-else {
	  padding: 20px;
	  font-style: italic;
}

.social {
    margin: 20px 0 0 0;
}
